

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Index Usuario</h1>
    
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Telefono</th>
          <th scope="col">Direccion</th>
          <th scope="col" class="text-center">Acciones</th>
          
        </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Santiago</td>
        <td>300-3442343</td>
        <td>Calle10</td>
        <td class="text-center"><a class="btn btn-danger">Eliminar</a> <a class="btn btn-warning">Editar</a> <a class="btn btn-primary">Actulizar</a></td>
        
      </tr>
      
      <tr>
        <th scope="row">2</th>
        <td>Santiago</td>
        <td>300-3442343</td>
        <td>Calle10</td>
        <td class="text-center"><a class="btn btn-danger">Eliminar</a> <a class="btn btn-warning">Editar</a> <a class="btn btn-primary">Actulizar</a></td>
        
      </tr>
      
      <tr>
        <th scope="row">2</th>
        <td>Santiago</td>
        <td>300-3442343</td>
        <td>Calle10</td>
        <td class="text-center"><a class="btn btn-danger">Eliminar</a> <a class="btn btn-warning">Editar</a> <a class="btn btn-primary">Actulizar</a></td>
      </tr>
      
      
      </tbody>
    </table>
    
</div>
</body>
</html>