

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
 <div class="d-flex justify-content-end vh-90">
    <form class="d-flex">
      <input class=" me-2 " type="search" placeholder="Search" aria-label="Search " style="width: 25rem;">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
  </div>
    <h1>Index Libros</h1>
</nav>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Autor</th>
          <th scope="col">Genero</th>
          <th scope="col">Año_publicacion</th>
          <th scope="col">Numero_copias</th>
          <th scope="col" class="text-center">Acciones</th>
          
        </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Los juegos del hambre</td>
        <td>Suzanne Collins</td>
        <td>fantasía</td>
        <td>2008</td>
        <td>10</td>

        <td class="text-center"><a class="btn btn-danger">Eliminar</a> <a class="btn btn-warning">Editar</a> <a class="btn btn-primary">Detalles</a></td>
        
      </tr>
      
      <tr>
        <th scope="row">2</th>
        <td>El nombre del viento</td>
        <td>Patrick Rothfuss</td>
        <td>fantasía</td>
        <td>2007</td>
        <td>10</td>
        <td class="text-center"><a class="btn btn-danger">Eliminar</a> <a class="btn btn-warning">Editar</a> <a class="btn btn-primary">Detalles</a></td>
        
      </tr>
      
      <tr>
        <th scope="row">3</th>
        <td>En la corte de Ronnie</td>
        <td>John le Carré</td>
        <td>Cronicas</td>
        <td>2008</td>
        <td>10</td>
        <td class="text-center"><a class="btn btn-danger">Eliminar</a> <a class="btn btn-warning">Editar</a> <a class="btn btn-primary">Detalles</a></td>
      </tr>

        <tr>
        <th scope="row">4</th>
        <td>Juego de tronos</td>
        <td>George R. R. Martin</td>
        <td>fantasía</td>
        <td>1996</td>
        <td>10</td>
        <td class="text-center"><a class="btn btn-danger">Eliminar</a> <a class="btn btn-warning">Editar</a> <a class="btn btn-primary">Detalles</a></td>
      </tr>

      <tr>
        <th scope="row">5</th>
        <td>Harry potter y la piedra filosofal</td>
        <td>J. K. Rowling</td>
        <td>fantasía</td>
        <td>1997</td>
        <td>10</td>
        <td class="text-center"><a class="btn btn-danger">Eliminar</a> <a class="btn btn-warning">Editar</a> <a class="btn btn-primary">Detalles</a></td>
      </tr>
      
      <tr>
        <th scope="row">6</th>
        <td>A tres metros sobre el cielo</td>
        <td>Federico Moccia</td>
        <td>Ficción</td>
        <td>1992</td>
        <td>10</td>
        <td class="text-center"><a class="btn btn-danger">Eliminar</a> <a class="btn btn-warning">Editar</a> <a class="btn btn-primary">Detalles</a></td>
      </tr>
      
      </tbody>
    </table>
    
</div>
</body>
</html>